table{
  background-color: #f1f1f1;
  padding: 20px 30px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
  border-spacing: 0;
}
th, td {
  border-bottom: 1px solid #b1b1b1;
}

.logout-button{
  display: block;
  width: 120px;
  height: 36px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #757575;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,.25);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select: none;
  -webkit-appearance: none;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: .21px;
  font-family: Roboto,arial,sans-serif;
}

.logout-button:hover{
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

.hidden{
  display: none;
}

.analytics-diagram{
  text-align: center;
  width: 100%;
  margin: auto;
}
