body {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.frame {
    display: block;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
  }

.loadingimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
    padding-top: 30vh;
}
